[submodule "themes/PaperModX"]
	path = themes/PaperModX
	url = https://github.com/reorx/hugo-PaperModX.git
[submodule "themes/liva-hugo"]
	path = themes/liva-hugo
	url = https://github.com/gethugothemes/liva-hugo.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git
