.logo__svg svg {
    height: auto;
    max-height: 60px;
    width: auto;
  }
  
  .finted-logo text {
    font-family: 'Arial', sans-serif;
  }
  
  /* For dark mode support */
  @media (prefers-color-scheme: dark) {
    .finted-logo rect {
      fill: #212529;
    }
    .finted-logo text:first-of-type {
      fill: #ffffff;
    }
  }


  
  @media (max-width: 769px) {
    .logo__link--flex {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      
      .logo__svg, .logo__imagebox {
        margin-right: 1rem;
      }
      
      .logo__svg svg {
        height: 40px;
        width: auto;
        vertical-align: middle;
      }
  }
  